@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    5710 Crescent Park East 134<br />
    Playa Vista, CA 90094<br />
    <abbr title="Phone">P:</abbr>
    +1 818.338.5737
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@malibutechnology.com">info@malibutechnology.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@malibutechnology.com">info@malibutechnology.com</a>
</address>